# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
academy-ui/yarn-error.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
academy-ui/next-env.d.ts

*.iml
.idea
.vscode

academy-ui/.env
data

# langgraph ai agent
langgraph-poetry/koala_gains/.env

# Sentry Config File
.envrc

crew_ai_agent/.venv
crew_ai_agent/.env
crew_ai_agent/src/crew_ai_agent/__pycache__/
crew_ai_agent/src/crew_ai_agent/tools/__pycache__/
koala-gains-backend/koala_gains/.env

clickable-demos/node_modules
venv/
out/
shared/pull-tweets/accounts.db
shared/pull-tweets/.env

koala-gains-backend/terraform/.terraform.lock.hcl
koala-gains-backend/terraform/.terraform*
koala-gains-backend/terraform/terraform.tfstate
koala-gains-backend/terraform/terraform.tfstate.backup
koala-gains-backend/terraform/terraform.tfvars
koala-gains-backend/terraform/.terraform/providers/


agent-tools/cdk/node_modules
agent-tools/cdk/dist
agent-tools/cdk/cdk.out
agent-tools/cdk/.env
agent-tools/sec-edgar/src/__pycache__/
agent-tools/sec-edgar/test/__pycache__/
agent-tools/cdk/package-lock.json
agent-tools/cdk/yarn.lock
