terraform-old/.terraform
terraform-old/terraform.tfstate
terraform-old/terraform.tfstate.backup
terraform-old/terraform.tfvars
terraform-old/terraform-provider-*
terraform-old/.terraform*


terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/terraform-provider-*
terraform/.terraform*

from-code/.terraform
from-code/terraform.tfstate
from-code/terraform.tfstate.backup
from-code/terraform.tfvars
from-code/terraform-provider-*
from-code/.terraform*



docker/.env

.envrc
postgres-data/*
langflow-data/*
