terraform-old/.terraform
terraform-old/terraform.tfstate
terraform-old/terraform.tfstate.backup
terraform-old/terraform.tfvars
terraform-old/terraform-provider-*
terraform-old/.terraform*


terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/terraform-provider-*
terraform/.terraform*



docker/.env

.envrc
postgres-data/*
langflow-data/*
